asgiref==3.8.1
cloudpickle==3.1.1
colorama==0.4.6
Django==5.2.1
django-filter==25.1
djangorestframework==3.16.0
joblib==1.5.0
llvmlite==0.44.0
Markdown==3.8
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.6.1
scipy==1.15.3
shap==0.47.2
six==1.17.0
slicer==0.0.8
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
xgboost==3.0.1
